p{
    font-family: Sarabun;
    font-size: 3vh;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.carouselContainer{
    padding:30px 15vw 30px 15vw;
    margin-bottom:50px;
    background-color: transparent;
    height:30vh;
    width: 100%
    
}

.carousel-item{
    border:1px #ccc solid;
    border-radius:5px;
}

.home-testamonial h2{
    color:#50b5a9;
    font-size:25px;
    font-weight:bold;
    margin-top:40px;
    text-align: center
}

.home-testamonial{
    background-color: #fafafa;
    margin-top:30px;
    height:60vh
}

.testamonial-icon{
    border-radius:50%;
    border:3px white solid;
    box-shadow: 1px 0px 5px #ccc;
    margin-bottom:10px;
}

.testamonial-box{
    display:flex;
    align-items:center
}


@media only screen and (max-width: 600px) {
    .home-testamonial h2{
        font-size:20px;
    }
    .testamonial-box{
        flex-direction: column;
        align-items:center
    }

    .testamonial-icon{
        height:60px
    }

}

