p{
    font-family: Sarabun;
    font-size: 36px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.carouselContainer{
    margin-top: 5vh;
    background-color: grey;
    height:10vh;
    width: 100%
}