p{
    font-family: Sarabun;
    font-size: 3vh;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.carouselContainer{
    padding:30px 15vw 30px 15vw;
    margin-top: 5vh;
    background-color: white;
    height:30vh;
    width: 100%
}