.search {
    /* width: 100%; */
    padding: 10px;
    height:60px !important;
    box-sizing: border-box;
    bottom: 3.5em;
    display:flex;
    justify-content: center;

    flex-flow: row wrap;
    background-color: rgb(255, 255, 255);
    border-radius:15px;
    box-shadow: 2px 2px 5px #ccc;
 
}


.search-inner{
    border-radius:15px;
    display:flex;
    border:1px solid #ccc;
}

.search select {
    display: table-cell;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    border:none;
    /* -webkit-appearance: none; */
    -webkit-border-radius: 0px;
    margin-right:5px;
    background: #ffffff;
    padding: 10px 0;
    color: #585353;
    font-size: 16px !important;
}

.searchDate {
    height: 100%;
    cursor: pointer;
    border: none;
    position: relative;
    outline: 0;
    font-size: 1em;
    line-height: 1.5em;
    padding: 8px 16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    /* background: #50b5a9; */
    /* color: #ffffff; */
    box-sizing: border-box;
}

.searchSubmit {
    height: 40px;
    cursor: pointer;
    border: none;
    position: relative;
    outline: 0;
    font-size: 1em;
    line-height: 1.5em;
    padding: 8px 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #50b5a9;
    color: #ffffff;
    box-sizing: border-box;
}