a {
    color: rgb(226, 235, 243);
    text-decoration: none;
}

a:hover 
{
     color:rgb(2, 14, 17); 
     text-decoration:none; 
     cursor:pointer;  
}
.footer {
  height: 12vh;
}

.footer-container{
  display:flex;
  justify-content: space-between !important;
  padding: 20px 50px 10px 50px!important;
}

.footer-items{
  display:flex;
  flex-direction: column;
  align-items: flex-start
}

.footer-items a{
  margin:5px
}

.footer-box{
  display:flex;
  flex-direction: column;
}

.copyright{
  align-self:center;
  font-size:14px;
}
