#HostManagement {
    font-family: 'Sarabun';
}

#HostManagement h2 {
    padding: 5px;
    margin: 5px;
    font-size: 36px;
}

#HostManagement div.edit-hotel {
    display: flex;
    align-items: center;
}

#HostManagement div.edit-hotel h2 {
    display: inline-block;
}

#HostManagement div.booking-management {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#HostManagement button.date-picker {
    margin: 5px;
}

#HostManagement canvas {
    width: 100%;
    height: 50vh;
}

#HostManagement tr {
    vertical-align: middle;
}

#HostManagement td {
    /* padding: 5px; */
    vertical-align: middle;
}

#HostManagement span.hotel-name {
    color: #4c6189;
    font-weight: 700;
}

#HostManagement #OfflineBooking {
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: #ddcf9d;
}

#HostManagement #OfflineBooking textarea {
    width: 100%;
}

#HostManagement #OfflineBooking label {
    font-size: 22px;
}

#HostManagement #OfflineBooking .form-footer {
    display: flex;
    justify-content: flex-end;
}

#HostManagement #OfflineBooking .form-footer input, #HostManagement #OfflineBooking .form-footer button {
    margin: 10px;
}

#HostManagement #OfflineBooking h6.update-success {
    color: #28A745;
    margin: 3px;
}