#OrderModal {
    font-family: 'Sarabun'
}

#OrderModal .modal-header {
    flex-flow: column;
    font-size: 20px;
}

#OrderModal .close {
    position: absolute;
    right: 15px;
}

#OrderModal h6 {
    margin-left: 20px;
}

#OrderModal h3, #OrderModal h5 {
    font-size: 24px;
    font-weight: 700;
}

#OrderModal svg {
    cursor: pointer;
}

#OrderModal h1 {
    font-size: 36px;
}

#OrderModal p {
    font-size: 18px;
}