#OrderDetailModal {
    font-family: 'Sarabun'
}

#OrderDetailModal .modal-header {
    flex-flow: column;
    font-size: 20px;
}

#OrderDetailModal .close {
    position: absolute;
    right: 15px;
}

#OrderDetailModal h6 {
    margin-left: 20px;
}

#OrderDetailModal svg {
    cursor: pointer;
}

#OrderDetailModal .detail {
    display: none;
}