.messageBox{
    padding:50px;
    font-family: "Sarabun"
}

.messageBox>h1{
    font-size:25px;
}

.messageBox-conersation{
    align-items: center    
}

.messageBox-icon{
    height:80px;
    width:80px;
    border-radius:50%;
    object-fit: cover
}

@media only screen and (max-width: 600px) {
    .messageBox{
        padding:20px;
    }
    .messageBox-icon{
        height:45px;
        width:45px;
    }
    .messageBox-conersation{
        padding-right:15px   
    }
}

.chatroomBox{
    padding:40px
}



.activeChat-box{
    padding:20px 30px 20px 30px;
    border: 2px solid #50b5a9;
    border-radius: 15px;
    box-shadow: 1px 2px 5px  #ccc;
    height:80vh !important;
}

.chatRoom-icon{
    height:120px;
    width:120px;
    border-radius:50%;
    object-fit: cover;
    display:block
}

.activeBooking{
    background-color: rgb(80, 181, 169,0.5);
    margin-top:20px;
    padding:10px 10px 20px 10px;
    border-radius:5px
    
}


.activeBooking p{
    font-size:16px;
    margin-top:10px
}

.rce-mbox-text{
    font-size:16px !important
}

.rce-input-textarea{
    border:1px solid #ccc !important;
    font-family: "Sarabun";
    height:40px !important
}

.rce-button{
    border:2px solid #50b5a9 !important;
    background-color:#50b5a9 !important;
    color:white !important;
    font-family: "Sarabun";
    height:40px !important;
    font-size: 16px !important
/* 
    border-radius:10px */
}

.rce-mbox{
    padding:15px !important;
    margin-bottom:10px !important;
    font-family: "Sarabun" !important
}

.rce-mbox-right{
    background-color: #b2e9e2 !important;
}

.rce-mbox-right-notch{
    fill: #b2e9e2!important;

}

.rce-input{
    font-size:16px !important
}

.chatroom-message-list{
    overflow-y: scroll;
    height:72vh !important
}

.chatroom-render-box{
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center
}

@media only screen and (max-width: 600px) {
    .chatroomBox{
        padding:20px 40px 20px 40px;
    }
    .activeChat-box{
        height:30vh !important;
        padding:10px;
        margin-bottom:10px
    }
    .chatroom-render-box{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
     }

     .chatRoom-icon{
        height:80px;
        width:80px !important;
    }

    .chatroom-message-list{
        height:48vh !important
    }

    .chatroom-render-box p{
        margin-top:5px !important;
        margin-bottom:10px !important

     }

    .activeBooking{
        background-color: rgb(80, 181, 169,0.5);
        margin-top:10px;
        padding:5px;
        border-radius:5px;
        width:70vw;
        height:10vh;
        overflow-y:scroll
    }
    
    
    .activeBooking p{
        font-size:16px;
        margin-bottom:5px;
        margin-top:0
    }

    .activeChat{
        padding:0
    }
}
