#EditPage {
    height: 100%;
    min-height: 86vh;
    width: 100%;
    background-color: #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

#EditPage .bg-image {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/petvago-6b2c9.appspot.com/o/Edit-page-background(blur).jpg?alt=media&token=511c2b54-0ab9-456b-a137-e04136ab5b29");
    height: 100%; 
    min-height: 86vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    overflow: hidden;
    top: 0;
}

#EditPage h3 {
    font-size: 36px;
}

#EditPage section {
    width: 100%;
    max-width: 800px;
    margin: 50px 50px;
    padding: 30px;
    background-color:#eeeeee;
    color: #333333;
    font-family: 'Sarabun';
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    border-radius: 5px;
    z-index: 50;
}

#EditPage section h1 {
    font-size: 36px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-bottom: 2px solid #111111;
    padding: 5px;
}

#EditPage input.inputField, #EditPage textarea.inputField {
    font-size: 22px;
    display: inline-block;
    width: 90%;
    /* height: 100%; */
    padding: 5px 10px;
    margin: 5px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #444444;
    border-radius: 4px;
    transition: border-color .25s ease, box-shadow .25s ease;
}

#EditPage textarea.inputField {
    min-height: 75px;
}

#EditPage label {
    font-size: 22px;
}

#EditPage tr {
    height: 40px;
    padding: 5px;
    vertical-align: middle;
    background-color: #eeeeee;
}

#EditPage #FormHeader {
    display: grid;
    grid-auto-columns: 1fr
}

#EditPage #FormHeader table {
    grid-column: 1/3;
}

#EditPage #FormHeader table tbody td {
    vertical-align: top;
}

#EditPage #FormHeader #HotelIcon {
    grid-column: 3/4;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px; */
    margin: 10px;
    max-height: 200px;
    max-width: 200px;
}

#EditPage #FormHeader #HotelIcon img {
    border-radius: 5px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
}

#EditPage #FormHeader #HotelIcon #PhotoUpload {

}

/* #EditPage #FormHeader #HotelIcon svg {
    margin: 5px;
    cursor: pointer;
} */

#EditPage #FormHeader .district {
    margin: 5px;
    width: 90%;
}

#EditPage #FormFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

#EditPage #EditHotelRoomType {
    padding: 15px;
    margin: 30px 0;
    border-radius: 5px;
    background-color: #ddcf9d;
}

#EditPage #EditHotelRoomType table {
    width: 100%;
    /* table-layout: fixed; */
}

#EditPage #EditHotelRoomType table td {
    padding: 0;
    vertical-align: middle;
}

#EditPage #EditHotelRoomType table th.th-type {
    width: 45%;
}

#EditPage #EditHotelRoomType table th.th-price {
    width: 20%;
}

#EditPage #EditHotelRoomType table th.th-quantity {
    width: 10%;
}

#EditPage #EditHotelRoomType table th.th-edit {
    width: 10%;
}

#EditPage #EditHotelRoomType table th.th-delete {
    width: 10%;
}

#EditPage #EditHotelRoomType table svg {
    margin: 8px;
}

#EditPage #EditHotelRoomType table div.icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 20;
}

#EditPage #EditHotelRoomType table input {
    border: none;
}

#EditPage h4 {
    font-size: 28px;
    margin: 10px 0;
}

#EditPage #EditHotelRoomType .plusSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

#EditPage .custom-control-label::after {
    cursor: pointer;
}