.booking{
    padding:30px 50px 30px 50px;
    display:flex;
    font-family: "Sarabun"
}

.booking p{
    font-size:20px 
}


.booking-form{
    width:60%;
    padding-right:40px;
}
.booking-form>h1{
    font-size:25px;
}

.booking label{
    font-size:20px !important
}

.count-down{
    background-color:#50b5a9;
    opacity:0.7;
    padding:10px;
    width:200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position:fixed;
    right:0;
    top:80vh
}

.count-down p{
    font-size:12px;
    color:#000
}

.count-down h5{
    font-size:20px;
    color:#000;
    padding-top:5px
}


.booking-box{
    padding:20px 30px 20px 30px;
    width:40%;
    border: 2px solid #50b5a9;
    border-radius: 15px;
    box-shadow: 1px 2px 5px  #ccc;
    height:400px;
}

.booking-icon{
    height:20vh;
    object-fit: cover;
}

.booking-line{
    border-bottom:1px solid #ccc;
    margin: 15px 0 15px 0;
}

.booking-button{
    border:2px solid #50b5a9;
    background-color:#50b5a9;
    color:white;
    margin-top:30px;
    height:50px;
    width:150px;
    font-size:20px
}

.vaccine-not-ok{
    border:1px solid #da3846;
    border-radius:5px

}


.booking-button:hover{
    border:2px solid #50b5a9;
    color:#50b5a9;
    background-color:white

}

.confirmation{
    font-family: "Sarabun";
    padding:30px;
    display:flex;
    flex-direction: column;
    align-items:center
}

.confirmation h1{
    font-size:25px
}

.confrim-title{
    font-weight:bold;
    font-size:20px;
    margin: 10px 0 30px 0 !important;
}

.confirm-box{
    margin-top:30px;
    width:60vw;
    border:1px solid #50b5a9;
    padding:30px;
    border-radius:10px;
}

.confirm-box p{
    font-size:20px;
    margin-bottom:10px;
}

.confirm-button{
    margin: 0 30px 0 30px;
    display:flex;
    justify-content: space-between
}