.filter {
    width: 80%;
    padding: 0 1.5em;
    box-sizing: border-box;
    bottom: 3.5em;
    display:flex;
    justify-content: left;
    flex-flow: row wrap;
    font-family: 'Sarabun';
}

.filter-box{
    /* border:1px solid #50b5a9; */
    border-radius:5px;
    display:flex
}

@media only screen and (max-width: 600px) {
    .filter{
        display:none
    }
}

.filterDate {
    height: 48px;
    cursor: pointer;
    border: none;
    position: relative;
    outline: 0;
    font-size: 1em;
    line-height: 1.5em;
    padding: 8px 16px;
    border-radius: 5px 0 0 5px ;
    border:2px solid #50b5a9;
    background: #50b5a9 ;
    color: #ffffff;
    box-sizing: border-box;
}

.filter select {
    display: table-cell;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    height: 44px;
    padding: 10px 0;
    color: #585353;
    font-size: 16px !important;
    border:none;
    -webkit-border-radius: 0px;
    margin-right:5px;
    background: #ffffff;

}

.filter select:focus{
    outline-width: 0;
}

.filter button:focus{
    outline-width: 0;
}

.filterDistrict{
    border-top:2px solid #50b5a9;
    border-bottom:2px solid #50b5a9;
    border-right:2px solid #50b5a9;
    height: 48px;
}

.filterPet{
    border-top:2px solid #50b5a9;
    border-bottom:2px solid #50b5a9;
    border-right:2px solid #50b5a9;
    height: 48px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}


button.orange {
    margin: 7px;
    border-radius: 5px;
    height: 30px;
    color: white;
    border: 1px solid #FB8F3D; 
    background: -webkit-linear-gradient(top, #FDA251, #FB8F3D);
    background: -moz-linear-gradient(top, #FDA251, #FB8F3D);
    background: -ms-linear-gradient(top, #FDA251, #FB8F3D);
    
}

button.orange:hover {
    border: 1px solid #EB5200;
    background: -webkit-linear-gradient(top, #FD924C, #F9760B); 
    background: -moz-linear-gradient(top, #FD924C, #F9760B); 
    background: -ms-linear-gradient(top, #FD924C, #F9760B); 
    box-shadow: 0 1px #EFEFEF;
}

button.orange:active {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
}


button.grey {
    margin: 7px;
    border-radius: 5px;
    height: 30px;
    color: white;
    border: 1px solid rgb(32, 32, 32); 
    background: -webkit-linear-gradient(top, #D3D3D3, #808080);
    background: -moz-linear-gradient(top, #D3D3D3, #808080);
    background: -ms-linear-gradient(top, #D3D3D3, #808080);
    
}

button.grey:hover {
    border: 1px solid #808080;
    background: -webkit-linear-gradient(top, #D3D3D3, #808080); 
    background: -moz-linear-gradient(top, #D3D3D3, #808080); 
    background: -ms-linear-gradient(top, #D3D3D3, #808080); 
    box-shadow: 0 1px #EFEFEF;
}

button.grey:active {
    box-shadow: inset 0 1px 1px D3D3D3;
}

button.lightgreen {
    margin: 7px;
    border-radius: 5px;
    height: 30px;
    color: white;
    border: 1px solid rgba(23,179,163,1); 
    background: -webkit-linear-gradient(top, rgb(54, 212, 197), rgb(54, 212, 197));
    background: -moz-linear-gradient(top, rgb(54, 212, 197), rgb(54, 212, 197));
    background: -ms-linear-gradient(top, rgb(54, 212, 197), rgb(54, 212, 197));
    
}

button.lightgreen:hover {
    border: 1px solid rgb(22, 168, 154);
    background: -webkit-linear-gradient(top, rgba(23,179,163,1), rgba(23,179,163,1)); 
    background: -moz-linear-gradient(top, rgba(23,179,163,1), rgba(23,179,163,1)); 
    background: -ms-linear-gradient(top, rgba(23,179,163,1), rgba(23,179,163,1)); 
    box-shadow: 0 1px #EFEFEF;
}

button.lightgreen:active {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
}