.Login {
    background-color: #718EA4;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
      font-family: "Sarabun"
}

.Login section {
    background-color: #dddddd;
    height: 80vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    /* box-shadow: 1px 1px 5px #bbbbbb; */
    border-radius: 5px;
    margin-top:-10vh
}

.Login section form {
    display: flex;
    flex-flow: column;
}

.Login section h6 {
    margin: 5px;
    text-align: left;
    font-weight: 400;
}

.TextBox {
    background: #ffffff;
    border: none;
    border-radius: 3px;
    color: #5a5656;
    font-size: 14px;
    height: 50px;
    outline: none;
    padding: 0px 10px;
    width: 280px;
}

.Submit {
    background-color: #50b5a9;
    border: #50b5a9 solid 2px;
    border-radius: 3px;
    color: #f4f4f4;
    cursor: pointer;
    font-family: inherit;
    height: 40px;
    text-transform: uppercase;
    width: 280px;
    -webkit-appearance: none;
    margin: 10px 0;
}

.Submit:hover{
    background-color: transparent;
    color: #50b5a9;
    transition:ease 0.2s;
    
}

.loginFailed {
    color: red;
}

.Login h1{
    font-size:25px; 
    margin-bottom:10px
    
}

.Signup {
    background-color:#555;
    border: none;
    border-radius: 3px;
    color: #f4f4f4;
    cursor: pointer;
    font-family: inherit;
    height: 40px;
    text-transform: uppercase;
    width: 280px;
    -webkit-appearance: none;
    margin: 5px 0;
}

.Facebook {
    background-color: rgb(59, 89, 152);
    border: none;
    border-radius: 3px;
    color: #f4f4f4;
    cursor: pointer;
    font-family: inherit;
    height: 40px;
    text-transform: uppercase;
    width: 280px;
    font-weight:normal;
    -webkit-appearance: none;
    margin: 10px 0;
    border-radius: 3px;
    font-family: "Sarabun"


}

.kep-login-facebook.metro{
    border-radius: 3px !important;

}

.kep-login-facebook{
    border-radius: 3px !important;
    font-family: "Sarabun" !important;

}

.Wechat {
    background-color: rgb(26, 173, 25);
    border: none;
    border-radius: 3px;
    color: #f4f4f4;
    cursor: pointer;
    font-family: inherit;
    height: 50px;
    text-transform: uppercase;
    width: 300px;
    -webkit-appearance: none;
    margin: 10px 0;
}