.navbar{
    height: 8vh;
    background-color:#50b5a9 !important;
    font-size: 16px;
    font-family: Sarabun;
    width: 100%;
}

.navbar-toggler{
    height: 5vh;
    
}

.d-flex{
    height:6vh;
}

.navbar-brand{
    background-image: url("./logo-big.png");
    background-size: 100% 100%;
    height: 5vh;
    width: 38vh;
    margin-top:5px
}

.navbar-brand-two{
    background-image: url("./logo-small.png");
    background-size: 100% 100%;
    height: 5vh;
    width: 15vh;
}

.navbar-dark .navbar-nav .nav-link{
    color:white;
}

.navbar-nav{
    background-color: #50b5a9;
}

.menu-item{
    border-bottom: white 1px solid; 
}

